
.section-body {
    display: flex;
    margin-top: 60px;
}

.accordion {
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 300px;

}

.login-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    height: 600px;
}

.login-form {
    width: 30%;
}

.product-height {
    height: 500px;
    margin: 5px;
}

.product-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-list-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-style {
    text-decoration: none;
}
