
.section-body {
    display: flex;
    margin-top: 60px;
}

.accordion {
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 300px;
    cursor: pointer;
}

.product-card a {
    text-decoration: none;
    color: black;
}

.login-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    height: 600px;
}

.login-form {
    width: 30%;
}

.product-height {
    height: 500px;
    margin: 5px;
}

.product-container {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 600px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-list-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-style {
    text-decoration: none;
    cursor: pointer;
}

#inputQuantity {
    width: 60px;
}

.rating-card {
    display: flex;
    padding: 20px;
    width: 70%;
    word-wrap: break-word;
    margin-top: 200px;
    margin-bottom: 50px;

}

.comment-text {
    margin: 5px 0px 0px 5px;
}

.comment-box {

    padding: 5px;
}


.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202;
}

.container-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
}

.comment-btn {
    display: flex;
    justify-content: flex-end;
}

.footer {
    margin-top: 50px;
}

.nav-bar {
    margin-bottom: 50px;
}
.sidebar-hide .logo {
    width: 0;
}
.sidebar-hide .logo span {
    display: none;
}
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .90rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.menu-active{
    color: #2470dc;
}
.login-admin{
    height: 600px;
}

