@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
  /*border: 1px solid #333;*/
}
body {
  background: #ffffff !important;
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
